.card {
    margin-bottom: 1em;
    height: 12em;
}

#gear {
    width: 16px;
}

input {
    width: 75%;
}

.newCollection {
    height: 12em;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
}

#back {
    float: left;
    padding-top: 10px;
}

#newElementBtn {
    width: auto;
}

#elementContainer {
    display: none;
}
